body {
  margin: 0;
  font-family: "PT Sans", serif;
  font-weight: 400;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  .section{
    padding: 0 10%;
  }

  .historikData {
    margin-top: 4%;
    width: 30%;

    h1{
      color: #42567A;
      font-size: 3vw;
      font-weight: 700;
      font-style: normal;
      position: relative;
    }

    h1:before{
      content: "";
      position: absolute;
      left: -20%; /* Граница слева */
      top: 50%; /* Начало границы, смещаем на 25% от верха */
      transform: translate(-50%, -50%);
      height: 80%; /* Высота границы 50% */
      width: 5px; /* Толщина границы */
      background: linear-gradient(to bottom, blue, red); /* Градиент */
    }
  }

  .data {
    display: flex;
    justify-content: center;
    gap: 10%;
    position: relative;
    user-select: none;

    div{
      font-size: 10vw;
      font-weight: 700;
      font-style: normal;
    }

    div:nth-child(1){
      color: #5d5fef;
    }
    div:nth-child(2){
      color: #ef5da8;
    }

    .circle-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
      .circle {
        position: relative;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        border: 2px solid #bdbdbd;

        .point {
          position: absolute;
          width: 10px;
          height: 10px;
          border: solid 1px black;
          border-radius: 50%;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
  
          div{
            font-size: 20px;
            color: black
          }

          .test{
            position: absolute;
            opacity: 0;
            right: -40px;
            transform: translate(50%, 0);
          }
        }
      }
      


      .info{
        position: absolute;
        top: 10vw;
        right: 0;
        color: black;
      }

      div{
        font-size: 40px;
      }
    }
    
  }

  .scroll{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .score{
      color: #42567A;
      font-size: 20px;
      padding-bottom: 20px;
    }

    .mainArrowContainer{
      display: flex;
      gap: 30px;

      .arrowContainer{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .5s;
        user-select: none;
  
        .arrow{
          width: 20px;
          height: 20px;
        }
      }

      .arrowContainer:hover{
        background-color: rgb(233, 233, 233);
      }
    }

    .swiper{
      padding: 0 10px;
      background-color: white;

      h3{
        color: #3877EE;
        font-size: 25px;
        font-family: "Bebas Neue", serif;
        font-weight: 400;
      }
  
      p{
        color: #42567A;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

.but{
  margin: 10px;
}

@media (max-width: 480px) {
  .mainContainer{
    width: 90vw;

    .historikData{
      h1{
        font-size: 6vw;
      }
      h1:before{
        display: none;
      }
    }
    .section{
      padding: 0;
    }

    .data{
      padding: 20vw 0;
      border-bottom: 1px solid #C7CDD9;
      div{
        font-size: 18vw;
      }
    }

    .scroll{
      padding: 0;
      .swiper{
        padding: 0;
        width: 100%;

        .swiper-button-next,
        .swiper-button-prev,
        .swiper-pagination {
          display: none !important;
        }
      }

      .swiper p {
        width: 100%;
      }
    }

    .navigation{
      height: 100%;
      display: flex;
      align-items: flex-end;

      .scoreContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .score{
          padding-bottom: 10px;
        }
  
        .mainArrowContainer{
          display: flex;
          gap: 10px;
    
          .arrowContainer{
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
      
            .arrow{
              width: 20px;
              height: 20px;
            }
          }

          .arrowContainer:hover{
            background-color: white;
          }
      }
      }

      .navigationCircleContainer{
        display: flex;
        padding: 0 0 40px 35px;
        gap: 15px;
        .navigationCircle{
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: #808080b4;
        }
      }
    }
  }


}